@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

   details {
      @apply border-b border-light-grayish-blue py-4;
   }

   details summary {
     @apply list-none relative cursor-pointer hover:text-soft-red;
   }

   details summary::after {
      content: url(/faq-accordion-card/images/icon-arrow-down.svg);
      @apply ml-3 absolute right-0;
   }

   details[open] {
      @apply font-bold text-very-dark-desaturated-blue;
   }
   details[open] summary::after {
      @apply transform -rotate-180;
   }

  details[open] summary ~ * {
     animation: sweep .5s ease-in-out;
  }

  @keyframes sweep {
     from {
      opacity: 0; margin-top: -5px;
     }
     to {
      opacity: 1; margin-top: 0;
     }
  }

  /* lg */
  @media (min-width: 1024px) {
      .faq-bg-pettern-desktop{
         background-image:url(/faq-accordion-card/images/bg-pattern-desktop.svg);
         background-repeat: no-repeat;
         background-position: right 72px top -300px;
      }

      .social-proof-bg {
         background-image: url(/social-proof-section/images/bg-pattern-top-desktop.svg), url(/social-proof-section/images/bg-pattern-bottom-desktop.svg) !important;
         /* background-repeat: no-repeat; */
         background-position: left top, right bottom !important;
      }
   }

   /* social proof */
  
   .social-proof-bg {
      background-image: url(/social-proof-section/images/bg-pattern-top-mobile.svg), url(/social-proof-section/images/bg-pattern-bottom-mobile.svg);
      background-repeat: no-repeat;
      background-position: center top, center bottom;
   }

   /* 
    * Article preview 
    */

   /* https://css-tricks.com/snippets/css/css-triangle/ */
   #shareModal::before {
      content: '';
      position: absolute;
      bottom: -18px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid hsl(217, 19%, 35%);
      right: calc(100% - 147px);
   }
  


   @media (min-width:768px){

      #shareModal {
         left: calc(100% - 151px)
      }

      /* https://css-tricks.com/snippets/css/css-triangle/ */
      /* #shareBtn::before {
         content: '';
         position: absolute;
         top: -23px;
         left: 0;
         right: 0;
         width: 0;
         height: 0;
         border-left: 20px solid transparent;
         border-right: 20px solid transparent;
         border-top: 20px solid hsl(217, 19%, 35%);
      } */

   }
   

   /* base apparel coming soon */

   .hero-gradient-1 {
      /* background: rgb(156,95,69); */
      background: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
   }
   .hero-gradient-2 {
      background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
   }

   .base-apparel--btn {
      background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
   }
   .base-apparel--btn:hover {
      background: linear-gradient(135deg, hsl(0, 80%, 86%) 95%, hsl(0, 74%, 74%) 100%);
      @apply shadow-xl;
   }

   .email-error-noti { display: none; }
   .email-error-msg { display: none; }
   
   .mail-error .email-error-noti { display: block; }
   .mail-error .email-error-msg { display: block; }

   input:-webkit-autofill,
   input:-webkit-autofill:hover, 
   input:-webkit-autofill:focus,
   textarea:-webkit-autofill,
   textarea:-webkit-autofill:hover,
   textarea:-webkit-autofill:focus,
   select:-webkit-autofill,
   select:-webkit-autofill:hover,
   select:-webkit-autofill:focus 
   {
   /* -webkit-box-shadow: 0 0 0 30px transparent inset !important; */
      border-radius: 24px;
      /* -webkit-background: transparent; */
   }

}